/*
 * the related fields and label
 */

.formgen input,
select,
textarea,
.formgen_label {
    vertical-align: top;
}
/*
 * use inline-block instead of float
 */

.formgen_label,
.formgen_inputs,
.formgen div[type="checkbox"] {
    display: inline-block;
}
/*
 * label width
 */

.formgen_label {
    text-align: right;
    width: 38%;
    margin-right: 10px;
}
/*
 * the message and start should be red
 */

.formgen_msg,
.formgen_star {
    color: red;
}
/*
 * the star and tip should middle vertical aligned
 */

.formgen_star,
.formgen_tip {
    vertical-align: middle;
}
/*
 * message size settings
 */

.formgen_msg {
    margin: 3px 0px;
    height: 20px;
    font-size: 14px;
}
/*
 * star margin settings
 */

.formgen_star {
    margin: 0px 5px;
}
/*
 * tip size settings
 */

.formgen_tip {
    font-size: 12px;
}
